<html>
        <head>
                <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
                <title>{% block titlename %}{% endblock %}Plurk Avatar History 噗浪頭像歷史查詢</title>
                <meta name="description" content="Search your Plurk friends and fans avatar 搜尋您噗浪上的好友與粉絲頭像">
        </head>
        <style>
                .sdiv {
                        float:left;
                        margin: 5px;
                        padding: 4px;
                        border:1px #ccaadd dashed;}
                .foot {clear:both;}
                .cc {clear:both;}
        </style>
        <body>
                <div>
                        <form action="/user" method="get">
                                <div><input name="u" value="{{ tv.nickname }}"> <input type="submit" value="Plurk Picture!"></div>
                        </form>
                </div>
                <div>{% block content %}{% endblock %}</div>
                <div class="cc"><h1>Friends</h1></div>
                <div>{% block friends %}{% endblock %}</div>
                <div class="cc"><h1>Fans</h1></div>
                <div>{% block fans %}{% endblock %}</div>
                <div class="foot">{% block foot %}{% endblock %}</div>
        </body>
        <script type="text/javascript">
                var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
                try {
                var pageTracker = _gat._getTracker("UA-80185-24");
                pageTracker._trackPageview();
                } catch(err) {}
        </script>
</html>

