{% extends "h_bgpage.htm" %}
{% block wall %}{{ tv.bgurl }}{% endblock %}

{% block titlename %}{{ tv.titlename }}{% endblock %}

{% block content %}
        {% for g in gdata %}
        <div class="sdiv {{ tv.css }}">
                <a href="/user?u={{ g.uname }}"><img border="0" width="90" src="http://avatars.plurk.com/{{ g.uid }}-big{{ g.upic}}.jpg"></a><br>
                <font size="1">{{ g.uname }}</font>
        </div>
        {% endfor %}
{% endblock %}

{% block foot %}
<div align="right">
        <a href="http://appengine.google.com/"><img border="0" src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></a>script type="text/javascript" src="http://widgets.amung.us/classic.js"></script><script type="text/javascript">WAU_classic('9cjt4glh0ecz')</script>
        <br><font size="2" color="998899">Plurk Avatar Search 1.7.5<br>
        噗浪頭像歷史查詢 By <a href="http://www.plurk.com/toomore">Toomore</a> <a href="http://github.com/toomore/plurk_avatar_search/issues">Report</a></font>
</div>
{% endblock %}
