{% extends "h_display.htm" %}

{% block titlename %}{{ tv.titlename }}{% endblock %}

{% block content %}
        <ul Type="1">
        {% for g in gdata %}
        <li><a href="/user?u={{ g.uname }}">{{ g.uname }}</a> / {{ g.uid }}</li>
        {% endfor %}
        </ul>
{% endblock %}

{% block foot %}
<div align="right">
        <a href="http://appengine.google.com/"><img border="0" src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></a>script type="text/javascript" src="http://widgets.amung.us/classic.js"></script><script type="text/javascript">WAU_classic('9cjt4glh0ecz')</script>
        <br><font size="2" color="998899">Plurk Avatar Search 1.7-pre<br>
        噗浪頭像歷史查詢 By <a href="http://www.plurk.com/toomore">Toomore</a> <a href="http://github.com/toomore/plurk_avatar_search/issues">Report</a></font>
</div>
{% endblock %}
